html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+ */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming) */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: crisp-edges;               /* Possible future browsers. */
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor; 
}
